/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@import url(http://fonts.googleapis.com/css?family=Chau+Philomene+One);
@import url(http://fonts.googleapis.com/css?family=The+Girl+Next+Door);

@charset "utf-8";
/* CSS Document */


/* Global reset
   http://meyerweb.com/eric/tools/css/reset/ 
*****************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
input:focus {
	outline: none;
}
textarea:focus{
	outline:none;
}
button:focus{
	outline:none;	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section,img {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****************style padrão*******************/
a, a:link,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	outline: none;
	text-decoration:none;
	outline: none;
}	

h1{
	color: #21A97E;
    float: left;
}
h2{font-size: 25px;}

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 18px;
	color: #000;
}

p{
	margin: 0 0 20px 0;	
}

.container{
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.texto{
	font-size: 40px;
	font-family: 'Chau Philomene One', sans-serif;
	color: rgba(0, 168, 255, 0.5);
    font-size: 40px;
    margin-bottom: 15px;
    text-align: left;
    text-shadow: 3px 3px 0 rgba(255, 0, 180, 0.5);
    text-transform: uppercase;
}
.clear{
	clear: both;
}
.box-left{
	position:relative; 
	top:-150px; 
	left:20px; 
	width:300px;
	z-index:5; 
}

.box-right{
	position:relative; 
	top:150px; 
	left:430px; 
	width:300px;
	z-index:10; 
}

/****************Topo Menu*******************/


header#page1{
	background: url(../images/backTopo.png) repeat-x;
   	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom:10px; 
    z-index: 999;
    }

    .logo{
    	padding-top: 10px;
    }

#nav{
	list-style: none;
	position: fixed;
	right: 50px;
}

nav#primary {
	display: block;
	float: right;
}
nav#primary li {
	display: inline-block;
	float: left;
	position: relative;
	text-transform: uppercase;
}
nav#primary a {
    transition: 0.2s ease;
	-o-transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
	font-size: 20px;
    display: block;
   	font-family: 'Chau Philomene One', sans-serif;
    padding: 68px 13px 6px;
    position: relative;
    z-index: 999;
    color: #2d2d2d;
}
nav#primary a:hover {
	background-color: #cdcdcd;
	font-size:30px; 
	line-height:0.8;
	color: #000;
 }

nav#primary a.active {
	background-color: #cdcdcd;
	text-shadow:0 2px 2px #333;
	font-size:30px; 
	line-height:0.8;
	color: #fff;
	opacity: 0.8;
 }
/****************Telas*******************/

#home, #about, #portfolio, #contato {
    height: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}	

.animate {
    height: 1000px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
}

.story{
	height: 1000px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 201;	
}

#home .story .content, #about .story .content, #portfolio .story .content, #contato .story .content {
    margin-left: 100px;
}

.story .content {
    margin-top: 10%;
    width: 280px;
}


#home{
	background:url(../images/seamless.png) 50% 0 repeat fixed;
	height: 730px;
}

#home .bg{
	position: absolute;
	bottom: -500px;
	left: 50px;
}

#home .story .content{
	margin-left: 300px;
    margin-top: 24%;
    width: 100%;
}

#home .story .content h2{
    font-family: 'Chau Philomene One', sans-serif;
	line-height: 1.4;
	color: rgba(0, 168, 255, 0.5);
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px 0 rgba(255, 0, 180, 0.5);
}

#about{
	background: url(../images/projects_bg.jpg) 50% 0 no-repeat fixed;
}

#about .animate{
	background: url(../images/me.png) 100% 435px no-repeat fixed;
}

#about .story{
	background: url(../images/camera.png) 100% 98% no-repeat fixed;
}

#about .story .content {
    margin-top: 180px;
    width: 400px;
}
#about .story .content h2{    
	padding: 10px;
}

#about .story .content p{
	font-size: 21px;
	line-height: 1.2;
	text-align: justify;
}

#about .story .content #botao{	
	margin: 0 auto;
    width: 150px;
    height: 40px;
}
		#botao a{
			background-color: rgba(0, 168, 255, 0.5);
			float: left;
			padding-top: 10px;
			width: 150px;
    		height: 40px;
			font-size: 18px;
			color: black;
			text-align: center;
			transition: 0.5s ease;
			-o-transition: 0.5s ease;
			-webkit-transition: 0.5s ease;
		}
		#botao a:hover{
			background-color: #F9F23F;
		}

#portfolio{
	background: url(../images/background.jpg) 50% 0 repeat fixed;
	height: 800px;
}


#portfolio .animate{
}

#portfolio .story{
}

#portfolio .story .content {
    margin-top: 180px;
    width: 400px;
}
#portfolio .story .content h2{    
	padding: 10px;
}

#portfolio .story .content p{
	font-size: 21px;
	line-height: 1.6;
	text-align: justify;
}	

#contato{
	background: url(../images/backgroundContato.png) 50% 0 repeat fixed;
	height: 800px;
}

#contato .animate{
	background: url(../images/caneta.png) 100% 0 no-repeat fixed;	
}

#contato div#celphone{
	background: url(../images/celphone.png) 0 0 no-repeat scroll;
	position: absolute;
	top: 320px;
	left:920px;
	width: 283px;
	height: 472px;
}

	div.social{
		position: absolute;
		top:100px;
		left: 60px;
		width: 173px;
		height: 59px;
		z-index: 200;
	}	

	div.social a:hover{
		height: 60px;
	}

	div.social a{
		background: url(../images/social.png) no-repeat scroll 0 3px;
	    display: inline-block;
	    height: 50px;
	    width: 50px;
	    position: absolute;
	    top: 0;
	    left: 0px;
	    transition: 0.4s ease;
		-o-transition: 0.4s ease;
		-webkit-transition: 0.4s ease;
	}

	div.social a+a{
		background-position: -62px 3px;
		top: 0;
	    left: 55px;
	}

	div.social a+a+a {
	    background-position: -124px 3px;
	    top: 0;
	    left: 115px;
	}
	
#contato .story .content {
    margin-top: 190px;
    width: 70%;
}

#contato .story .content h2{    
	padding: 10px;
	background-color:#E2CCC0;
	width: 220px; 
}

#contato .story .content .postcard {
	background: url(../images/postcard.jpg) 0 0 no-repeat scroll;
    width: 800px;
    height: 405px;
    box-shadow: 0 10px 25px #000;
}
#contato .story .content #main{
	position: relative;
	top: 0;
	left: 0;
}
#contato .story .content .postcard form{
	font-family: 'The Girl Next Door', cursive;
	font-size: 24px;
	
}
#contato .story .content .postcard form textarea{
	width: 350px;
	border: 1px dashed black;
	background-color: #FAF2DB;
	font-family: 'The Girl Next Door', cursive;
	height: 200px;
	margin-top: 10px;
	margin-bottom:0px; 
	padding: 5px;
	font-size: 20px;
	color: #925746;
	line-height: 1.2;

}
#contato .story .content .postcard form input {
	width: 350px;
	height: 30px;
	border-bottom: 1px dashed black;
	border-top: 0 dashed black;
	border-right: 0 dashed black;
	border-left: 0 dashed black;
	background-color: #FAF2DB;
	font-family: 'The Girl Next Door', cursive;
	margin-top: 10px;
	margin-bottom:0px; 
	padding: 0;
	font-size: 20px;
	color: #925746;
	line-height: 1.2;
}
div.align{
	padding-top: 10px;
	float: left;
}
#contato .story .content .postcard form button.submit{
	float: left;
	width: 80px;
	height: 30px;
	background-color: #925345;
	color: white;
	border: 0 dashed black;
	font-family: 'The Girl Next Door', cursive;
	font-size: 20px; 
	margin-top: 0; 
}
	button.submit:hover{
		cursor: pointer;
		background-color: black;
	}

#image-loader {
    display: none;
    float: left;
    left: 18px;
    position: relative;
    top: 0px;
}
#message-warning {
    color: #fff;
}
#message-success {
	padding-top: 0px;
    color: #fff;
}
#message-warning, #message-success {
    background: none repeat scroll 0 0 #925746;
    display: none;
    font-family: arial;
    font-size: 14px;
    padding: 10px;
    margin-top: 5px;
    width: 350px;
    line-height: 1.2;
}
#contato span.required {
    color: #925746;
    font-size: 13px;
}

#construcao{
	position: absolute;
	top:0;
	left: 440px;
}

