<section id="call-action">
  <div class="container">
    <h2 class="text-call-action">Quer fazer o aplicativo certo?  Fale conosco.</h2>
    <a href="mailto:comercial@concretesolutions.com.br" class="btn-lg btn-master text-button">fale conosco</a>
  </div>
</section>

<footer id="contato">
  <div class="container">
    <ul class="social-media-footer">
      <li><a class="facebook" href="https://www.facebook.com/ConcreteS" target="_blank"></a></li>
      <li><a class="twitter" href="https://twitter.com/ConcreteS" target="_blank"></a></li>
      <li><a class="google" href="https://plus.google.com/+ConcretesolutionsBrasil/posts" target="_blank"></a></li>
      <li><a class="linkedin" href="http://www.linkedin.com/companies/concrete-solutions" target="_blank"></a></li>
      <li><a class="youtube" href="https://www.youtube.com/user/concretesolutionsbr" target="_blank"></a></li>
    </ul>
  </div>
</footer>

<!-- Scripts -->
<script src="/js/vendor/jquery.min-1.11.0.js"></script>
<script src="/js/vendor/jquerypp.custom.js"></script>
<script src="/js/vendor/jquery.elastislide-1.1.0.js"></script>
<script src="/js/vendor/bootstrap.min-3.1.1.js"></script>
<script src="/js/vendor/jquery.touchswipe.min-1.6.5.js"></script>
<script src="/js/vendor/jquery.localscroll-1.2.7-min.js"></script>
<script src="/js/vendor/jquery.scrollTo-1.4.2-min.js"></script>
<script src="/js/mobile.js"></script>
<script>
// script carrossel
	$('#carousel').elastislide();
</script>
